
header{
  display: flex;
  flex-direction: wrap;
  background-color: #071c2e;
  align-items: center;
  justify-content: space-between;
}
main{
  display: flex;
  flex-direction: column;
}
body{
  display: flex;
  flex-direction: column;
}
.Subscribe{
  height: 30%;
  width: 30%;
  background-color: rgb(138, 2, 2);
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  cursor: pointer;
  font-weight: 500;
  font-family: inherit;
}
.dots{
  color: #071c2e;
}
